.App {
  text-align: center;
}

.mt8 {
  margin-top: 8px;
}

.row {
  flex-direction: row;
}

.space-between {
  justify-content: space-between;
}

.display-flex {
  display: flex;
}

.w-80 {
  width: 80%;
}

.w-100 {
  width: 100%;
}

.p24 {
  padding: 24px;
}
